.dsGreen{
  background-color: #232b2b;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  img{
    height: 400px;
    width: 400px;
  }

  @media (min-width: 300px){
  body{
    background-color: yellow;
  }
  .col{
    width: 33%;
    float: left;
  }
}
  h5{
    float: center;
  }
  height="300px" width="375px"
  height="300px" width="375px"
  height="300px" width="375px"
